<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="p-4 sm:ml-56 lg:ml-64 bg-[#F5F5F6]">
    <div class="mt-20">
        <div class="items-center my-40 mx-auto bg-gray-100 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="flex flex-row justify-center p-4 leading-normal mb-1">
                <div>
                    <h6 class="mb-2 font-semibold text-[#C55A11] dark:text-white">Email:</h6>
                    <h6 class="tracking-tight font-semibold text-[#C55A11] dark:text-white">Address:</h6>
                </div>
                <div>
                    <p class="mb-2 mt-1 pl-5 font-normal font-semibold text-sm text-gray-700 dark:text-gray-90000">Here bring the email</p>
                    <p class="pl-5 font-normal font-semibold text-sm text-gray-700 dark:text-gray-90000">Here bring the address</p>
                </div>
            </div>
        </div>
    </div>
</div>
